{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up | By Code Info</title>
    <link rel="stylesheet" href="/static/user/singup.css"/>
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="signup-box">
      <h1>Sign Up</h1>
      <h4>It's free and only takes a minute</h4>
      <form method="post">{% csrf_token %}
        <label>First Name</label>
        <input type="text" name="first_name" placeholder="" />
        <label>Last Name</label>
        <input type="text" name="last_name" placeholder="" />
        <label>Email</label>
        <input type="email" name="email" placeholder="" />
        <label>Mobile</label>
        <input type="text" name="mobile" placeholder="" />        
        <label>Password</label>
        <input type="password"  name="password" placeholder="" />
        <label>Confirm Password</label>
        <input type="password"  name="password1" placeholder="" />
        <input type="submit"  value="submit" />
      <closeform></closeform></form>
  
    </div>
    <p class="para-2">
      Already have an account? <a href="{% url 'login' %}">Login here</a>
    </p>
    {%if messages%}
        {%for messages in messages%}
        <h3 style="color:Tomato;text-align: center;"> {{messages}}</h3>
        {% endfor %}
    {% endif %}
  </body>
</html>




