{%load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login | By Code Info</title>
    <link rel="stylesheet" href="/static/user/singup.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="login-box">
      <h1>Login</h1>
      <form method="post">{% csrf_token %}
        <label>Email</label>
        <input type="email" name="email" placeholder="" />
        <label>Password</label>
        <input type="password" name="password" placeholder="" />
        <input type="submit"  value="submit" />
      <closeform></closeform></form>
    </div>
    <p class="para-2">
      Not have an account? <a href="{% url 'register' %}">Sign Up Here</a>
    </p>
    {%if messages%}
      {%for messages in messages%}
       <h3 style="color:Tomato;text-align: center;"> {{messages}}</h3>
      {% endfor %}
    {% endif %}
  </body>
</html>
